@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
a {
    text-decoration: none;
}
body {
    background-color: black;
}
#main {
    text-align: center;
    font-size: 30px;
    margin: auto;
    color: white;
}
#father {
    text-align: center;
    margin: auto;
    display: flex;
    width: 37%;
}